:host {
  display: block;
  position: relative;
  z-index: 2;
  margin: 0.9375rem 0.5rem;
}
.header {
  display: none;
  flex-direction: row;
  width: 4.5rem;
  background: var(--app-aero-background);
  backdrop-filter: var(--app-aero-backdrop-filter);
  border-radius: var(--app-border-radius);
  box-shadow: var(--app-box-shadow);
  .header__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    justify-content: center;
    padding: 0.625rem 0.875rem;
    cursor: pointer;
    transition: color 300ms ease;
    color: var(--app-text-color);
    text-decoration: none;
    .header__link__image {
      color: inherit;
    }
    .header__link__title {
      font-size: 11px;
      color: inherit;
    }
    &:hover,
    &.active {
      color: #f5deb3;
    }
  }
}

@media (min-width: 992px) {
  .header {
    flex-direction: column;
    display: flex;
  }
}
