<!-- <ngx-audio-player
[playlist]="msaapPlaylist"
[displayTitle]="msaapDisplayTitle"
[autoPlay]="false"
muted="muted"
[displayPlaylist]="msaapDisplayPlayList"
pageSizeOptions]="pageSizeOptions"
 (trackEnded)="onEnded($event)"
 displayVolumeControls]="msaapDisplayVolumeControls"
 [displayRepeatControls]="msaapDisplayRepeatControls"
[disablePositionSlider]="msaapDisablePositionSlider"
[displayArtist]="msaapDisplayArtist"
[displayDuration]="msaapDisplayDuration"
 [expanded]="true">
 </ngx-audio-player> -->

<iframe
  width="100%"
  height="70"
  scrolling="no"
  frameborder="no"
  allow="autoplay"
  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/17227364&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=false&show_reposts=false&show_teaser=false"
>
</iframe>
<!-- <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/emrekyl" title="Emre KYL" target="_blank" style="color: #cccccc; text-decoration: none;">
    Emre KYL</a> · <a href="https://soundcloud.com/emrekyl/silent-anatolian-original-mix" title="Silent Anatolian (Original Mix)" target="_blank" style="color: #cccccc; text-decoration: none;">
        Silent Anatolian (Original Mix)</a>
</div> -->
