<div class="page-wrapper" id="about">
  <div class="vg-card">
    <div class="vg-card__content --about">
      <div class="vg-card__content__title border-line-h">About me</div>
      <div class="vg-card__content__text border-line-v">
        <div class="text-box">
          Xtreme Junior Front End | Angular developer | Equities trading.
          <br />
          Loves God & Enigma & DeepHouse
        </div>
      </div>
    </div>

    <div class="vg-card__content --libraries">
      <div class="vg-card__content__title">My Libraries for Angular</div>
      <div class="vg-card__content__text">
        <a class="library-card border-line-v" href="https://www.npmjs.com/package/ngx-awesome-uploader" target="_blank">
          <div class="library-card__header">
            <div class="library-card__header__icon">
              <i class="fas fa-cloud-upload-alt"></i>
            </div>
          </div>
          <div class="library-card__info">
            <div class="library-card__info__title">NGX-AWESOME-UPLOADER</div>
            <div class="library-card__info__text-box">
              The most flexible Angular Library for uploading files. It supports File Upload and Preview, built-in and custom validations,
              image cropper , drag and drop.
            </div>
          </div>
          <div class="library-card__action">
            <button>TRY IT</button>
          </div>
        </a>

        <a class="library-card border-line-v" href="https://www.npmjs.com/package/ngx-router-animations" target="_blank">
          <div class="library-card__header">
            <div class="library-card__header__icon">
              <i class="fas fa-dice-d6"></i>
            </div>
          </div>
          <div class="library-card__info">
            <div class="library-card__info__title">NGX-ROUTER-ANIMATIONS</div>
            <div class="library-card__info__text-box">
              ngx-router-animations is a collection of awesome, reusable router animations. Built with Angular Animation Package.
            </div>
          </div>
          <div class="library-card__action">
            <button>TRY IT</button>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
