<div class="page-wrapper" id="contact">
  <div class="vg-card">
    <div class="vg-card__content">
      <div class="vg-card__content__title --contact border-line-h">Get In Touch</div>
      <div class="vg-card__content__text border-line-v">
        <div class="info-list">
          <div class="info-box">
            <div class="info-box__title">Email:</div>
            <div class="info-box__content">vugar_abdullayev@outlook.com</div>
          </div>
        </div>

        <div class="or">OR</div>

        <div class="contact-buttons">
          <a class="contact-button --twitter" href="https://twitter.com/Vugar005" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>

          <a class="contact-button --github" href="http://github.com/vugar005" target="_blank">
            <i class="fab fa-github"></i>
          </a>

          <a class="contact-button --facebook" href="https://www.facebook.com/profile.php?id=100007074375925" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>

          <a class="contact-button --linkedin" href="https://www.linkedin.com/in/vugar-abdullayev-13451469" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
