<div class="page-wrapper" id="contact">
  <div class="vg-card">
    <div class="vg-card__content">
      <div class="vg-card__content__title --contact border-line-h">Get In Touch</div>
      <div class="vg-card__content__text border-line-v">
        <div class="info-list">
          <div class="info-box">
            <div class="info-box__title">Email:</div>
            <div class="info-box__content">vugar_abdullayev@outlook.com</div>
          </div>
        </div>

        <div class="contact-buttons">
          <a class="contact-button --twitter" aria-label="Twitter" href="https://twitter.com/Vugar005" rel="noreferrer" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>

          <a class="contact-button --github" aria-label="Github" href="http://github.com/vugar005" rel="noreferrer" target="_blank">
            <i class="fab fa-github"></i>
          </a>

          <a
            class="contact-button --facebook"
            aria-label="Facebook"
            href="https://www.facebook.com/profile.php?id=100007074375925"
            rel="noreferrer"
            target="_blank"
          >
            <i class="fab fa-facebook-f"></i>
          </a>

          <a
            class="contact-button --linkedin"
            aria-label="Linkedin"
            href="https://www.linkedin.com/in/vugar-abdullayev-13451469"
            rel="noreferrer"
            target="_blank"
          >
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
