:host {
  display: block;
}

.ticker-item {
  display: flex;
  margin-right: 10px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  cursor: pointer;
  &__symbol,
  &__price {
    color: #f5deb3;
  }
  &__symbol,
  &__price,
  &__change {
    color: #f5deb3;
    margin-right: 5px;
  }
}

.text-green {
  color: #2ecc71;
}

.text-red {
  color: #e74c3c;
}
