<div class="page-wrapper" id="works">
  <div class="vg-card">
    <div class="vg-card__content">
      <div class="vg-card__content__title">Recent Works</div>
      <div class="vg-card__content__text">
        <div class="recent-works">
          <a
            class="recent-work border-line-h border-line-v"
            *ngFor="let experience of experiences$ | async"
            [href]="experience.url"
            target="_blank"
            rel="noreferrer"
            [attr.aria-label]="experience?.title"
          >
            <div class="recent-work__cover">
              <img [src]="experience.imageUrl" [alt]="experience?.title" />
            </div>
            <div class="recent-work__description">
              <div class="recent-work__description__title">{{ experience.title }}</div>
              <div class="recent-work__description__category">{{ experience.category }}</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
