<div class="page-wrapper" id="works">
  <div class="vg-card">
    <div class="vg-card__content">
      <div class="vg-card__content__title">Recent Works</div>
      <div class="vg-card__content__text">
        <div class="recent-works">
          <a class="recent-work border-line-h border-line-v" href="https://www.swissre.com/" target="_blank">
            <div class="recent-work__cover">
              <img src="./assets/img/swissre.jpg" />
            </div>
            <div class="recent-work__description">
              <div class="recent-work__description__title">The Swiss Re Group is one of the world's leading providers of reinsurance.</div>
              <div class="recent-work__description__category">Angular Enterprise Web App</div>
            </div>
          </a>

          <a class="recent-work border-line-h border-line-v" href="https://www.raymondjames.com/" target="_blank">
            <div class="recent-work__cover">
              <img src="./assets/img/raymond-james.png" />
            </div>
            <div class="recent-work__description">
              <div class="recent-work__description__title">
                Raymond James Financial is an American multinational independent investment bank and financial services company.
              </div>
              <div class="recent-work__description__category">Angular Enterprise Web App</div>
            </div>
          </a>

          <a class="recent-work border-line-h border-line-v" href="http://wcu.unibook.az" target="_blank">
            <div class="recent-work__cover">
              <img src="./assets/img/unibook-work-220.jpg" />
            </div>
            <div class="recent-work__description">
              <div class="recent-work__description__title">Unibook</div>
              <div class="recent-work__description__category">Angular Enterprise Web App</div>
            </div>
          </a>

          <a class="recent-work border-line-h border-line-v" href="https://www.npmjs.com/package/ngx-awesome-uploader" target="_blank">
            <div class="recent-work__cover">
              <img src="./assets/img/ngx-awesome-uploader.jpg" />
            </div>
            <div class="recent-work__description">
              <div class="recent-work__description__title">NGX-AWESOME-UPLOADER</div>
              <div class="recent-work__description__category">Angular Library</div>
            </div>
          </a>

          <a class="recent-work border-line-h border-line-v" href="http://opendata.neuron.az" target="_blank">
            <div class="recent-work__cover">
              <img src="./assets/img/opendata.jpg" />
            </div>
            <div class="recent-work__description">
              <div class="recent-work__description__title">OPEN DATA</div>
              <div class="recent-work__description__category">Angualr Web App</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
